Repository densmyslov/quest-915b3510-c0a1-7075-ba32-d63633b69867-quest-ce71995b: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, test

eslint:
  name: eslint
  entry: npm run lint
  language: system
  pass_filenames: false

test:
  name: unit-tests
  entry: npm test
  language: system
  pass_filenames: false

Sync from template: src/runtime-core/engine.ts
  src/runtime-core/engine.ts
Due: eslint, test

Sync from template: src/runtime-core/loadCompiledQuest.ts
  src/runtime-core/loadCompiledQuest.ts
Due: eslint, test

Sync from template: src/runtime-core/runtimeState.ts
  src/runtime-core/runtimeState.ts
Due: eslint, test

Sync from template: src/types/puzzle.ts
  src/types/puzzle.ts
Due: eslint, test

Sync from template: src/runtime-core/validateCompiledQuest.ts
  src/runtime-core/validateCompiledQuest.ts
Due: eslint, test

Sync from template: src/types/quest.ts
  src/types/quest.ts
Due: eslint, test

Sync from template: src/utils/coordinates.test.ts
  src/utils/coordinates.test.ts
Due: eslint, test

Sync from template: src/utils/coordinates.ts
  src/utils/coordinates.ts
Due: eslint, test

Sync from template: src/utils/puzzleDistribution.test.ts
  src/utils/puzzleDistribution.test.ts
Due: eslint, test

Sync from template: src/utils/puzzleDistribution.ts
  src/utils/puzzleDistribution.ts
Due: eslint, test

Sync from template: test-results/.last-run.json
  test-results/.last-run.json
Due: test

Update quest data
  src/data/quest.json
Due: test

Sync from template: src/components/QuestMap.tsx
  src/components/QuestMap.tsx
Due: eslint, test

Sync from template: src/components/object-timeline/TimelineActionOverlay.tsx
  src/components/object-timeline/TimelineActionOverlay.tsx
Due: eslint, test

Sync from template: src/components/object-timeline/useObjectTimeline.ts
  src/components/object-timeline/useObjectTimeline.ts
Due: eslint, test

Sync from template (Deployment Manager)
  .github/workflows/ci.yml
  .github/workflows/deploy-pages.yml
Due: none

Trigger Cloudflare Pages rebuild
  public/trigger.txt
Due: none

Sync from template (Deployment Manager)
  README.md
  docs/AI_MESSAGING_SYSTEM.md
  docs/PUZZLES.md
  docs/STEPS_MODE.md
  docs/STREAMING_TEXT_IMPLEMENTATION.md
  package-lock.json
  package.json
  src/app/api/teams/route.ts
  src/app/puzzle/[id]/PuzzleClient.tsx
  src/components/QuestMap.tsx
  src/components/QuestMapOverlay.module.css
  src/components/QuestMapOverlay.tsx
  src/components/map/MapOverlays.tsx
  src/components/object-timeline/types.ts
  src/components/object-timeline/useObjectTimeline.ts
  src/components/object-timeline/usePulsatingCircles.ts
  src/components/puzzles/PuzzleRenderer.tsx
  src/components/puzzles/jigsaw-custom/JigsawCustomGame.tsx
  src/components/puzzles/witch-knot-simple/WitchKnotSimpleGame.tsx
  src/context/QuestContext.tsx
  src/context/TeamSyncContext.tsx
  src/hooks/useKnockDetector.ts
  src/hooks/useQuestRuntime.ts
  src/lib/useTeamWebSocket.ts
  src/utils/deviceId.ts
Due: eslint, test

Sync from template (Deployment Manager)
  docs/MUSICAL_CODE_FOUNTAIN_PUZZLE.md
  docs/PLAYERS_REGISTRATION.md
  docs/PUZZLES.md
  docs/WEBSOCKET_RUNTIME_DELTAS.md
  eslint.config.mjs
  package-lock.json
  package.json
  src/app/puzzle/[id]/PuzzleClient.tsx
  src/components/QuestMap.tsx
  src/components/QuestMapOverlay.tsx
  src/components/RegistrationView.module.css
  src/components/RegistrationView.tsx
  src/components/object-timeline/TimelineActionOverlay.tsx
  src/components/object-timeline/TimelineChatOverlay.tsx
  src/components/object-timeline/useObjectTimeline.ts
  src/components/puzzles/PuzzleRenderer.tsx
  src/components/puzzles/musical-code-fountain/MusicalCodeFountainGame.tsx
  src/components/puzzles/witch-knot-simple/WitchKnotSimpleGame.tsx
  src/context/TeamSyncContext.tsx
  src/hooks/useSpeechRecognition.ts
  src/lib/musicxmlToReference.ts
  src/lib/useTeamWebSocket.ts
Due: eslint, test

Sync from template (Deployment Manager)
  package.json
  public/_headers
  public/compiled/quest-74b36181@v1.json
  src/app/(home)/Introduction.tsx
  src/app/(home)/MissionBrief.tsx
  src/app/(home)/page.tsx
  src/app/api/quest/start/route.ts
  src/app/api/teams/route.ts
  src/app/map/page.tsx
  src/components/StreamingText.tsx
  src/components/object-timeline/TimelineVideoOverlay.tsx
  src/components/object-timeline/hooks/useTimelineAudio.ts
  src/components/object-timeline/hooks/useTimelineLogic.ts
  src/components/object-timeline/hooks/useTimelineOverlays.ts
  src/components/object-timeline/timelineUtils.test.ts
  src/components/object-timeline/timelineUtils.ts
  src/components/object-timeline/useObjectTimeline.ts
  src/components/object-timeline/utils.ts
  src/components/quest-map/QuestMap.tsx
  src/components/quest-map/hooks/useMapInitialization.ts
  src/components/quest-map/hooks/useQuestTimelineLogic.ts
  src/context/QuestAudioContext.tsx
  src/context/QuestContext.tsx
  src/context/TeamSyncContext.tsx
  src/hooks/useMapAudio.ts
  src/hooks/useQuestRuntime.ts
  src/lib/mediaTimeline.ts
  src/lib/transcriptionUtils.test.ts
  src/lib/transcriptionUtils.ts
  src/lib/useQuestSession.ts
  src/lib/useTeamWebSocket.ts
  src/runtime-core/compileQuest.ts
Due: eslint, test

Remove stale package-lock.json after pnpm migration
  package-lock.json
Due: test

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  test: any of: \.(js|jsx|ts|tsx|json)$
