Repository densmyslov/quest-915b3510-c0a1-7075-ba32-d63633b69867-quest-ce71995b: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, test

eslint:
  name: eslint
  entry: npm run lint
  language: system
  pass_filenames: false

test:
  name: unit-tests
  entry: npm test
  language: system
  pass_filenames: false

Sync from template: deploy_backend.py
  deploy_backend.py
Due: none

Sync from template: PRODUCTION_AUDIO_DEBUG.md
  PRODUCTION_AUDIO_DEBUG.md
Due: none

Sync from template: docs/LOCAL_TESTING.md
  docs/LOCAL_TESTING.md
Due: none

Sync from template: docs/AUDIO_SYSTEM.md
  docs/AUDIO_SYSTEM.md
Due: none

Sync from template: docs/QUEST_RUNTIME.md
  docs/QUEST_RUNTIME.md
Due: none

Sync from template: docs/STEPS_MODE.md
  docs/STEPS_MODE.md
Due: none

Sync from template: docs/STREAMING_TEXT_IMPLEMENTATION.md
  docs/STREAMING_TEXT_IMPLEMENTATION.md
Due: none

Sync from template: e2e/map.spec.ts
  e2e/map.spec.ts
Due: eslint, test

Sync from template: e2e/landing.spec.ts
  e2e/landing.spec.ts
Due: eslint, test

Sync from template: e2e/mozaic-play.spec.ts
  e2e/mozaic-play.spec.ts
Due: eslint, test

Sync from template: e2e/steps-marker-visibility.spec.ts
  e2e/steps-marker-visibility.spec.ts
Due: eslint, test

Sync from template: e2e/steps-mode-puzzle.spec.ts
  e2e/steps-mode-puzzle.spec.ts
Due: eslint, test

Sync from template: eslint.config.mjs
  eslint.config.mjs
Due: none

Sync from template: e2e/witch-knot-simple.spec.ts
  e2e/witch-knot-simple.spec.ts
Due: eslint, test

Sync from template: public/file.svg
  public/file.svg
Due: none

Sync from template: package.json
  package.json
Due: test

Sync from template: public/globe.svg
  public/globe.svg
Due: none

Sync from template: public/next.svg
  public/next.svg
Due: none

Sync from template: public/vercel.svg
  public/vercel.svg
Due: none

Sync from template: public/window.svg
  public/window.svg
Due: none

Sync from template: scripts/ci-smart-test.js
  scripts/ci-smart-test.js
Due: eslint, test

Sync from template: src/app/api/quest/session/[sessionId]/route.ts
  src/app/api/quest/session/[sessionId]/route.ts
Due: eslint, test

Sync from template: setup_dynamodb.py
  setup_dynamodb.py
Due: none

Sync from template: src/app/api/runtime/compiled/route.ts
  src/app/api/runtime/compiled/route.ts
Due: eslint, test

Sync from template: src/app/api/quest/update-position/route.ts
  src/app/api/quest/update-position/route.ts
Due: eslint, test

Sync from template: src/app/api/runtime/node/complete/route.ts
  src/app/api/runtime/node/complete/route.ts
Due: eslint, test

Sync from template: src/app/api/runtime/puzzle/submit/route.ts
  src/app/api/runtime/puzzle/submit/route.ts
Due: eslint, test

Sync from template: src/app/api/runtime/object/arrive/route.ts
  src/app/api/runtime/object/arrive/route.ts
Due: eslint, test

Sync from template: src/app/api/runtime/session/[sessionId]/route.ts
  src/app/api/runtime/session/[sessionId]/route.ts
Due: eslint, test

Sync from template: src/app/api/runtime/session/join/route.ts
  src/app/api/runtime/session/join/route.ts
Due: eslint, test

Sync from template: src/app/object/[id]/ObjectClient.tsx
  src/app/object/[id]/ObjectClient.tsx
Due: eslint, test

Sync from template: src/app/puzzle/[id]/PuzzleClient.tsx
  src/app/puzzle/[id]/PuzzleClient.tsx
Due: eslint, test

Sync from template: src/components/DebugOverlay.tsx
  src/components/DebugOverlay.tsx
Due: eslint, test

Sync from template: src/components/GeolocationTracker.tsx
  src/components/GeolocationTracker.tsx
Due: eslint, test

Sync from template: src/components/GlobalErrorHandlers.tsx
  src/components/GlobalErrorHandlers.tsx
Due: eslint, test

Sync from template: src/components/GpsMetricsPanel.tsx
  src/components/GpsMetricsPanel.tsx
Due: eslint, test

Sync from template: src/components/PuzzleGame.tsx
  src/components/PuzzleGame.tsx
Due: eslint, test

Sync from template: src/components/QuestMap.tsx
  src/components/QuestMap.tsx
Due: eslint, test

Sync from template: src/components/QuestMapOverlay.tsx
  src/components/QuestMapOverlay.tsx
Due: eslint, test

Sync from template: src/components/RegistrationView.module.css
  src/components/RegistrationView.module.css
Due: none

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  test: any of: \.(js|jsx|ts|tsx|json)$
